@model IEnumerable<WebApplication2.Models.Clientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.userClientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senhaClientes)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.userClientes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senhaClientes)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id}) |
           
            @Html.ActionLink("Deletar", "Delete", new {  id=item.Id })
        </td>
    </tr>
}

</table>
